

body{
	background-color: #e2d8bd;
	margin-left: 5%;
	color: #482d12;
	padding-top: 3%;
	margin:0;
	border-top: 10px solid #482d12;
	padding-left:5%;
	padding-right: 5%;
	
}

h1{
	width: 300px;
	margin-left: auto;
	margin-right:auto;
}

#panel{
	width: 400px;
	margin-left: auto;
	margin-right:auto;

}
